@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

html body {
    max-width: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/*navegar*/
#menu{   
    text-align: center;
    font-size: 18px;
    padding: 15px;
    background-color: #15C2B1;
    list-style: none;
  
}
 #menu li{
    
    padding: 25px;
    display:inline; 
}

#menu li a {
   min-width: auto;
    color: rgb(16, 17, 17);
    text-decoration: none;
}
img{
    width: 50px;
}
/*SEÇÃO*/
h1{
    padding: 10px;
    
}
div p {
    padding: 10px 20px 30px;
    min-width: 300px;
    max-width: 500px;
}

span a{
    color: black;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
   
}
/*RODAPÉ*/
footer {
    width: 100%;
    color: rgb(10, 10, 10);
    font-size: 18px;
    padding: 20px;
    background-color: #15C2B1;
   
}
footer img  {
    width: 30px;
}

footer p{
    text-align: center;
}
footer div{
    text-align: center;
}
  
