@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Oleo+Script+Swash+Caps&display=swap');
*{
    margin: 0;
    padding: 0;
}

html body {
    max-width: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/*navegar*/
#menu{   
    font-family: 'Cormorant SC', serif;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color: #15C2B1;
    list-style: none;
}

 #menu li{ 
    padding: 25px;
    display:inline; 
}

#menu li a {
   min-width: auto;
    color: rgb(16, 17, 17);
    text-decoration: none;
}

img{
    width: 50px;
}

/*SEÇÃO*/
section{
    background-color: #9afaf0;
}

h1{
     margin-left: 50vh;
}

div{
    margin-top: -5px;
}

div p {
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 30px;
    padding: 19px 67px ;
    max-width: 876px;
    min-width: 200px;
}
#linguagem {
    text-align: center;
}

span a{
    color: black;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
}

span a:hover{
    color: rgb(9, 13, 238);
}

/*RODAPÉ*/
footer {
    width: 100%;
    color: rgb(10, 10, 10);
    font-size: 18px;
    padding: 20px;
    background-color: #15C2B1;
}

footer img  {
    width: 30px;
}

footer p{
    padding: 10px;
    text-align: center;
}

footer div{
    text-align: center;
}



